@model List<Matratt>


<table class="table table-responsive table-condensed">
    <thead>
    <tr>
        <th> Dish</th>
        <th> Description</th>
        <th> Ingredients</th>
        <th> Price</th>

    </tr>
    </thead>
    <tbody>

    @foreach (var ratt in Model)
    {
        <tr>
            <td class="small text-uppercase">@ratt.MatrattNamn </td>
            <td class="small"> @ratt.Beskrivning </td>

            <td class="small">
                @foreach (var s in ratt.MatrattProdukt)
                {
                    <p class="small">@s.Produkt.ProduktNamn </p>
                }
            </td>
            <td class="small"> @ratt.Pris kr</td>
            <td class="small">
                <a class="btn btn-primary" role="button" asp-controller="Order" asp-action="AddToOrder" asp-route-id="@ratt.MatrattId"> ADD>></a>
            </td>
        </tr>
    }


    </tbody>
</table>